{% extends 'student_base.html' %}

{% block student_content %}
    <div class="container p-4 text-white custom-scrollbar" style="height: 80vh; overflow-y: scroll;">
        <h3 class="text-white">Complete your Profile</h3>
        <hr  style="background-color: white;">
        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="" class="m-0">Name</label>
                    <input type="text" name="name" class="form-control p-0 pl-3 text-white" value="{{student.name}}" required style="font-size: large; background: none;">
                </div>

                <div class="col-md-6">
                    <label for="" class="m-0">Phone Number</label>
                    <input type="tel" name="phone" class="form-control p-0 pl-3 text-white" value="{% if student.phone %}{{student.phone}}{% endif %}" required style="font-size: large; background: none;">
                </div>

                <div class="col-md-6 mt-4">
                    <label for="" class="m-0">Department</label>
                    <select name="department" id=""  required class="form-control p-0 pl-3 text-white" style="font-size: large; background: none; ">
                        {% if student.department %}
                            <option value="{{student.department.id}}" class="text-dark">{{student.department}}</option>
                        {% else %}
                            <option value="" class="text-dark" disabled selected>Select your department </option>
                        {% endif %}
                        {% for d in departments %}
                            <option value="{{d.id}}" class="text-dark">{{d.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6 mt-4">
                    <label for="" class="m-0">Semester</label>
                    <select name="semester" id="" required class="form-control p-0 pl-3 text-white" style="font-size: large; background: none; ">
                        {% if student.semester %}
                            <option value="{{student.semester.id}}" class="text-dark">{{student.semester}}</option>
                        {% else %}
                            <option value="" class="text-dark" disabled selected>Select Semester </option>
                        {% endif %}
                        {% for s in semesters %}
                            <option value="{{s.id}}" class="text-dark">Semester {{s.semester}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-6 mt-4">
                    <label for="" class="m-0">Name of Guardian</label>
                    <input type="text" name="guardian" class="form-control p-0 pl-3 text-white" value="{% if student.guardian %}{{student.guardian}}{% endif %}" required style="font-size: large; background: none;">
                </div>

                <div class="col-md-6 mt-4">
                    <label for="" class="m-0">Phone Number of guardian</label>
                    <input type="tel" name="guardian_phone" class="form-control p-0 pl-3 text-white" value="{% if student.guardian_phone %}{{student.guardian_phone}}{% endif %}" required style="font-size: large; background: none;">
                </div>

                <div class="col-md-6 mt-4">
                    <label for="" class="m-0">Email of guardian</label>
                    <input type="email" name="guardian_email" class="form-control p-0 pl-3 text-white"  value="{% if student.guardian_email  %}{{student.guardian_email}}{% endif %}" required style="font-size: large; background: none;">
                </div>

                
                
            </div>
            <button class="btn btn-outline-success  mt-4" style="width: 100%;">Save</button>
        </form>
    </div>
{% endblock %}