{% extends 'student_base.html' %}

{% block student_content %}
    <div class="container p-4 text-white custom-scrollbar" style="height: 80vh; overflow-y: scroll;">
        <h3 class="text-white">Request for full day leave</h3>
        <hr  style="background-color: white;">

        <form action="" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <label for="" class="m-0">Date</label>
                    <input type="date" name="leave_date" class="form-control p-0 pl-3 text-white" value="{{student.name}}" required style="font-size: large; background: none;">
                </div>

                <div class="col-md-6">
                    <label for="" class="m-0">Reason</label>
                    <select name="reason" id="" class="form-control p-0 pl-3 text-white" value="{{student.name}}" required style="font-size: large; background: none;">
                        <option value="" class="text-dark" disabled selected>Select the reason for leave </option>
                        <option value="Medical Leave" class="text-dark">Medical Leave</option>
                        <option value="Personal Leave" class="text-dark">Personal Leave</option>
                        <option value="Academic Leave" class="text-dark">Academic Leave</option>
                        <option value="Family Emergency" class="text-dark">Family Emergency</option>
                        <option value="Extracurricular Activity" class="text-dark">Extracurricular Activity</option>
                    </select>
                </div>

                <div class="col-md-6 mt-4">
                    <label for="" class="m-0">Note </label>
                    <textarea name="note" id="" class="form-control p-0 pl-3 text-white" value="{{student.name}}"  style="font-size: large; background: none;"></textarea>
                </div>
            </div>
            <div style="display: flex; justify-content: space-around; margin-top: 2em; max-width: 40%;">
                
                
                <a href="" class="btn btn-danger btn-sm">Cancel</a>
                <button type="submit" class="btn btn-success btn-sm">Done</button>
            </div>
            
        </form>

        {% if leaves %}
        <div style="min-height: 70vh;">
            <hr style="background-color: white; margin-top: 4em;">
            <h3 class="text-white " >Recente leaves</h3>
            <table class="table table-borderless  text-white">
                <thead>
                    <th>Sl.no</th>
                    <th>Date</th>
                    <th>Reason</th>
                    <th>Note</th>
                </thead>
                <tbody>
                    {% for leave in leaves %}
                        <tr>
                            <td style="vertical-align: middle;">{{forloop.counter}}</td>
                            <td  style="vertical-align: middle;">{{leave.leave_date}}</td>
                            <td  style="vertical-align: middle;">{{leave.reason}}</td>
                            <td style="max-width: 13em;">{{leave.note}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}
    </div>

{% endblock %}